site_name: Knotebook
site_description: Knotebook | Make notes with markdown
site_author: Bhabishwor Gurung

repo_url: https://codeberg.org/bhabishwor/knotebook
repo_name: bhabishwor/knotebook
remote_branch: documentation

nav:
  - index.md

theme:
  name: material
  icon:
    logo: material/notebook
    repo: simple/codeberg
  features:
    - navigation.top
    - navigation.tabs
    - navigation.path
    - navigation.footer
    - toc.follow
    - search.suggest
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to system preference

extra:
  version:
    provider: mike
    default: latest
    alias: true
  social:
    - icon: simple/codeberg
      link: https://codeberg.org/bhabishwor
      name: Codeberg
    - icon: material/web
      link: https://bhabishwor.com.np
      name: Portfolio

plugins:
  - git-revision-date-localized
  - search
  - mkdocstrings:
      enabled: true
      default_handler: python
      locale: en
      handlers:
        python:
          options:
            show_root_heading: false
            show_root_toc_entry: false
            show_if_no_docstring: true
            members_order: source
            separate_signature: true
            parameter_headings: true
            show_attribute_values: false
            show_signature_annotations: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            overloads_only: true
            show_bases: true
            show_source: false
            merge_init_into_class: true
            filters:
              - "!^__all__"
